.storm
  / yeah i know....it's bad form for a link to delete something..but fuck you i'm doing it anyway
  :markdown
    [edit](/storms/edit/#{storm.id}) | [delete](/storms/destroy/#{storm.id}) #{storm.name}
  %pre.tweets= storm.tweets
