#content
  :markdown
    This requires OAuth for all of its functionality, so you'll need a registered Twitter application. If you've never registered a Twitter application before, it's easy! Just sign-in using your Twitter account and the fill out the short form [here](http://dev.twitter.com/apps/new). If you've previously registered a Twitter application, it should be listed [here](http://dev.twitter.com/apps). Once you've registered an application, make sure to set your application's Access Level to "Read, Write and Access direct messages", otherwise this shit don't work ^_^.

    Now take the info from registering your app above and plug it in [here](/twitkeys), then go [here](/storms) enter the name for your collection of tweets, then in the textfield put your tweets inmaking sure to put each tweet on a newline ps: that just means hit enter ^_^ and type the next one, or if pasting make sure there is a newline at the end of each tweet, hit save.

    Now on to the fun part, which resides [here](/jobs), where you can select as many of the accounts you've added as you want and pick a collection and hit start. you'll notice the presence of some links at the bottom after you've done this, click them to kill the processes that are tweeting. That is the long and short of it, crude and effective.

    Thanks to [sferik](https://github.com/sferik) for the twitter gem. ps: i also borrowed some of the above text from his [readme](https://github.com/sferik/t/blob/master/README.md), have fun hacktivists ^_^